@model ContactUSdbViewModel
@{
    ViewData["Title"] = "ContactUS";
    Layout = "_LayoutTheOtherPage";
}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="
background-image: url('/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Contact
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		@* 	<div class="flex-w flex-tr">
			
			
			
		</div> *@
		<div class=" bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
			<div class="flex-w w-full p-b-42">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fas fa-map-marker-alt"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						Address
					</span>

					<p class="stext-115 cl6 size-213 p-t-18">
						@Model.Address
					</p>
				</div>
			</div>

			<div class="flex-w w-full p-b-42">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fas fa-phone"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						Lets Talk
					</span>

					<p class="stext-115 cl6 size-213 p-t-18">
						@Model.phonenumber
					</p>
				</div>
			</div>

			<div class="flex-w w-full">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fab fa-facebook"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						Facebook
					</span>

					<p class="stext-115 cl1 size-213 p-t-18">
						<a href="@Model.facebook" target="_blank">@Model.facebook</a>
					</p>
					
				</div>
			</div>

			<div class="flex-w w-full">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fab fa-instagram"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						Instagram
					</span>
					<p class="stext-115 cl1 size-213 p-t-18">
						<a href="@Model.instagram" target="_blank">@Model.instagram</a>
					</p>

				</div>
			</div>

			<div class="flex-w w-full">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fab fa-x-twitter"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						X
					</span>
					<p class="stext-115 cl1 size-213 p-t-18">
						<a href="@Model.x" target="_blank">@Model.x</a>
					</p>

				</div>
			</div>

			<div class="flex-w w-full">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fab fa-whatsapp"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						whatsapp
					</span>

					<p class="stext-115 cl1 size-213 p-t-18">
						<a href="@Model.whatsapp" target="_blank">@Model.whatsapp</a>
					</p>


				</div>
			</div>

			<div class="flex-w w-full">
				<span class="fs-18 cl5 txt-center size-211">
					<span class="fas fa-envelope"></span>
				</span>

				<div class="size-212 p-t-2">
					<span class="mtext-110 cl2">
						email
					</span>

					<p class="stext-115 cl1 size-213 p-t-18">
						<a href="@Model.email" target="_blank">@Model.email</a>
					</p>


				</div>
			</div>

			
		</div>

		

		
	</div>
</section>

